:root {
  --ifm-color-primary: #234b73;
  --ifm-color-primary-dark: #204467;
  --ifm-color-primary-darker: #1d4060;
  --ifm-color-primary-darkest: #18354f;
  --ifm-color-primary-light: #26527f;
  --ifm-color-primary-lighter: #295686;
  --ifm-color-primary-lightest: #32689f;
}
